* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h6 {
    font-weight: 700;
    font-size: 20px;
    color: black;
}

p {
    font-size: 16px;
    color: gray;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.137);
    z-index: 5;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: lightseagreen;
    text-decoration: underline;
}

#hero {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-image: url("img/hero4.jpg");
    background-position: top 25% right 140%;
    padding: 10px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;
}

#hero button {
    font-size: 25px;
    background-color: lightseagreen;
    color: white;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: #00000059 0px 5px 15px;
    cursor: pointer;
    font-weight: 700;
    padding: 15px;
    transition: 0.3s ease;
}
#hero button:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
}

#feature {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

#feature .feat-container {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    margin: 15px 30px;
}
#feature .feat-container:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
}

#feature .feat-container h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 5px;
    color: darkgreen;
    background-color: greenyellow;
}

#feature .feat-container img {
    width: 100%;
    margin-bottom: 10px;
}


#products {
    text-align: center;
}

#products .product-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#products .product {
    position: relative;
    width: 450px;
    height: 450px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    margin: 15px;
}

#products .product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

#products .product img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

#products .product .description {
    text-align: start;
    padding: 10px 0px;
}

#products .product .description span {
    color: grey;
    font-size: 12px;
}

#products .product .description h5 {
    padding-top: 5px;
    color: black;
    font-size: 14px;
}

#products .product .description h4 {
    padding-top: 5px;
    font-weight: 700;
    font-size: 15px;
    color: green;
}

#products .product .fa-cart-plus:hover {
    color: green;
}
